<configuration>
    <!-- Reduces the spammy logback logging during startup -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <root level="INFO">
        <appender-ref ref="PRETTY-CONSOLE"/>
    </root>

    <logger name="teamlog" level="INFO" additivity="false">
        <appender-ref ref="TEAM_LOG"/>
    </logger>

    <!-- Stuff we wanna squelch, use sparingly -->
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="io.swagger.codegen.v3.generators" level="WARN"/>
    <logger name="org.apache.kafka.clients.consumer" level="WARN"/>

    <!-- When running local, lets log debug for our own stuff -->
    <logger name="no.nav.tsm" level="DEBUG"/>

    <!-- Local development, redirect secure logs to console with nice colors -->
    <appender name="TEAM_LOG" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{HH:mm:ss.SSS} %red(\(TEAMLOG\)) %highlight(%-5level) %X{call-id} [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Pretty console appender for local development -->
    <appender name="PRETTY-CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d{HH:mm:ss.SSS} %highlight(%-5level) %X{call-id} [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
</configuration>
